*{
    margin: 0;
    padding: 0; 
}
body{
    background-color: rgb(171, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    margin: 20px;
    font-size: 3rem;
}

img{
    width: 200px;
    padding: 4px;
    border-radius: 20px;
}

.course-list{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.course-item{
    background-color: white;
    border-radius: 20px;
    display: flex;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.19);
    padding: 8px;
}

.course-body{
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.course-body-desc{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.course-footer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-tag{
    display: flex;
}

.course-tag span{
    background-color: rgb(155, 155, 167);
    border-radius: 10px;
    padding: 4px;
    margin: 4px;
}

.course-detail{
    display: flex;
    justify-content: space-between;
}

.course-date{
    color: gray;
    font-size: small;
}

.active{
    background-color: green;
    border-radius: 10px;
    padding: 4px;

}

.upcoming{
    background-color: rgb(178, 142, 56);
    border-radius: 10px;
    padding: 4px;
}


.completed{
    background-color: rgb(74, 159, 229);
    border-radius: 10px;
    padding: 4px;
}

.footer{
    display: flex;
    justify-content: center;
}

